*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media screen and (max-width:767px) {
    .container img{
      margin-top: 6px;
      width: 100%;
    }  
    .container{
     padding: 10px;
     display: grid;
     grid-template-rows: 1fr;
    }
    .imgTwo{
        height: 12em;
        object-fit: cover;
    }
}    