.container{
    background: #eee;
    width: 700px;
    margin: 70px 0 0 50px;
    display: grid;
    grid-template-columns: repeat(2, 250px);/*we don't have to write same px again and again*/
    grid-template-rows: 150px 100px 100px ;
    /* grid-gap: 20px; */
    grid-row-gap: 30px;/*this is for row gap only*/
    grid-column-gap: 10px;/*this is for column gap only*/
}
.items1{
    background: orangered;
}
.items2{
    background: rgb(10, 197, 66);
}
.items3{
    background: rgb(72, 0, 255);
}
.items4{
    background: rgb(200, 255, 0);
}
.items5{
    background: rgb(118, 2, 113);
}
.items6{
    background: rgb(194, 197, 1);
}